<%include ../include/header.html %>
<%
articles.forEach(function(article){%>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%=article.user.avatar%>">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
        <p>
            <%-article.content.length>50?article.content.slice(0,50)+'...':article.content%>
        </p>
    </div>
</div>
<%});
%>

<nav>
    <ul class="pagination">
        <%if(pageNum>1){%>
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <%} %>

        <%
          for(var i=1;i<=totalPage;i++){%>
              <li class="<%=i==pageNum?'active':''%>"><a href="/articles/list/<%=i%>/<%=pageSize%>"><%=i%></a></li>
        <%}
        %>
        <%if(pageNum<totalPage){%>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        <%} %>

    </ul>
</nav>

<%include ../include/footer.html %>