<%include ../include/header.html %>
<%
articles.forEach(function(article){%>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%=article.user.avatar%>">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
        <p>
            <%-article.content.length>50?article.content.slice(0,50)+'...':article.content%>
        </p>
    </div>
</div>
<%});
%>

<%include ../include/footer.html %>